<div class="w-full relative animate-fade animation-duration-1000 animation-ease-out">
    <img 
        class="absolute top-0 z-10 w-[1000px] left-0 right-0 m-auto bg-black/10 rounded-3xl"
        src="../../public/logo-home.svg" 
        alt="Premios Esland a la comunidad Hispano hablante"
        style="clip-path: polygon(100% 0, 100% 61%, 51% 100%, 0 58%, 0 0);"
    />
    <video 
        src="../../public/VideoPresentacion.mp4"
        autoplay loop muted
        class="w-full h-screem object-cover object-top "
        style="clip-path: polygon(100% 0, 100% 61%, 51% 100%, 0 58%, 0 0);">
    </video>
</div>