---
interface Props {
	description: string
	title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root{
		color-scheme: dark;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #020D1E;
	}
	h1{
		color: wheat;
		letter-spacing: 4px;
	}
	p{
		color: rgba(255,255,255,0.8);
		font-size: 1.1rem;
		margin-bottom: 1em;
		font-weight: 100;
		line-height: 1.4;
	}
	p strong{
		color: wheat;
		font-size: 1.2rem;
	}
</style>
